*.sh text eol=lf
*.conf.example text eol=lf
Makefile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf
*.psd1.example text eol=lf
*.tmpl text eol=lf
*.tsv text eol=lf
*.md text eol=lf
